* {
  box-sizing: border-box;
}

body {
  margin: 0;

}
.main-pic {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-top: 0px;



}


  .header  {
  text-align: center;
  background-color: #333333;
  color: white;
  padding-bottom: 50px;



}

 .header.details{
  padding-bottom: 25px ;
}
.search-container {
  text-align: center;
  margin-top: 20px;
}



.search-container input[type="text"] {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  outline: none;
}


.search-container input[type="text"]::placeholder {
  color: #bbb;
  width: 300px;
}


.search-container button {

   padding: 10px  10px ; 
  width: 300px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  background-color: #999;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}


.search-container button:hover {
  background-color: #555;
  color: #fff;
  text-decoration: none;
}



.post {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

h3 {
  font-size: 24px;
  
  margin-bottom: 20px;
}

.post-item {
  width: 100%;
  align-content: center;
  background-color: #ffffffcf;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 
}

h4 a {
  color: yellow;
  text-decoration: none;
}

h4 a:hover {
  text-decoration: underline;
}

.meta {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
  background-color: #555;
  transform: scale(1.05);
} 
.post-item{
  width: 600px;
  align-content: center;
}
.recent{
  margin-left: -20px;
}
.footer{
  margin-left: -500px;
  margin-right: -500px;
  padding: 40px;
  margin-bottom: -42px;
  
}
.footer{
  text-align: center;
  background-color: #333333;
  color: white;
  padding-bottom: 40px;
  
}

 

.footer .btn  {
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  background-color: #333;
  color: yellow;
  transition: background-color 0.3s, transform 0.2s;
}
.lista{
  text-align: start;
  margin-top: 20px;
  font-size: 25px;
  margin-left: 320px;
 list-style: none;
  
}

 

hr {
  margin-left: 20%;
  margin-right: 20%;

}
.icons{
  margin-left: 44%;
  margin-bottom: 15px;
}
.icons a{
  text-decoration: none;
  color: black;
margin: 10px;
}
.icons a:hover{
  color: yellow;
  transform: scale(1.05);
}
.line{
  padding-top: 10px;

}
.tips{
  text-align: start;
  margin-top: 20px;
  font-size: 19px;
  margin-left: 300px;
 list-style: none;
  
}
